@import '../../../styles/mixins.module';

.form {
  @extend %form;
}

.form-field-wrapper {
  @extend %form-field-wrapper;
}

.profile-form-label {
  @extend %form-label;
}

.profile-form-field {
  @extend %form-field;
}

.form-footer {
  @extend %form-footer;
}
