@import '../../../styles/variables.module';

.container {
  max-width: $max-width;
  margin: 0 auto 0;
}

.wrapper {
  position: relative;
  padding-bottom: 50px;
  min-height: calc(100vh - #{$footer-height});
}
