@import '../../../styles/variables.module';
@import '../../../styles/mixins.module';

.container {
  padding: $space / 2;

  @include breakpoint($bp-sm) {
    padding: $space;
  }

  @include breakpoint($max-width) {
    margin: 0 auto;
    max-width: $max-width;
  }

  @include breakpoint($bp-xl) {
    padding: $space 0;
  }
}

.wrapper {
  position: relative;
  padding-bottom: $space;

  @include breakpoint($bp-md) {
    padding-bottom: 50px;
    min-height: calc(100vh - #{$footer-height});
  }
}
