@import '../../../styles/variables.module';
@import '../../../styles/utilities.module';
@import '../../../styles/mixins.module';

.card {
  border-bottom: 1px solid $grey-lighter;
  padding: $space/2;

  @include breakpoint($bp-sm) {
    padding: $space;
  }

  &:first-of-type {
    border-top: 1px solid $grey-lighter;
  }

  &:nth-of-type(odd) {
    background: $white-dark;
  }

  &--leader {
  }
}

.main {
  display: flex;
}

.main-container {
  display: flex;
}

.avatar-wrapper {
  position: relative;
  margin-right: 10px;
}

.avatar {
  border: 3px solid $red;
  border-radius: 100%;
  height: 60px;
  width: 60px;

  @include breakpoint($bp-md) {
    height: 75px;
    width: 75px;
  }
}

.passengersCount {
  border-radius: 100%;
  background: $red;
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;

  @include breakpoint($bp-md) {
    bottom: 2px;
    left: 2px;
  }
}

.main__heading {
  display: flex;
  flex-direction: column;

  h3,
  p {
    margin: 0;
  }
}

.open__button {
  margin-left: auto;
  border: none;
  box-shadow: none;
  background: transparent;
}

.details {
  display: none;
  margin-top: 10px;

  @include breakpoint($bp-sm) {
    margin-top: $space;
  }

  &--open {
    display: block;
  }
}

.details-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;

  @include breakpoint($bp-lg) {
    display: flex;
  }

  li {
    margin: 5px 0;
    padding: 0;
    line-height: 1;
    font-size: 14px;
    font-weight: 700;

    @include breakpoint($bp-md) {
      font-size: 16px;
      font-weight: 700;
    }

    @include breakpoint($bp-lg) {
      margin: 0 0 0 20px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
    margin-right: 3px;
    margin-top: -3px;

    &--location {
      margin-right: -3px;
    }
  }
}
