@import '../../../styles/variables.module';
@import '../../../styles/mixins.module';

.activity {
  @include breakpoint($bp-sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $space;
  }
}

.user-data__section {
  margin-bottom: $space;

  @include breakpoint($bp-md) {
    margin: 0 0 ($space * 2);
  }

  h3 {
    margin: 0 0 ($space / 2);

    @include breakpoint($bp-md) {
      margin: 0 0 $space;
    }
  }
}

.user-logs {
  // display: grid;
  // grid-column-gap: 20px;
  // grid-template-columns: 1fr 1fr;
}

.calendar-list {
  margin: 0 0 ($space / 2);
  padding: 0;

  @include breakpoint($bp-md) {
    margin: 0 0 $space;
  }

  li {
    margin: 0 0 ($space / 2);
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    line-height: 1;

    @include breakpoint($bp-md) {
      margin: 0 0 $space;
    }

    & > div {
      margin-right: ($space / 2);

      @include breakpoint($bp-md) {
        margin-right: $space;
      }
    }
  }
}
