@import '../../../styles/variables.module';

.header {
  /* border-bottom: 5px solid ${({ theme }) => theme.colors.grey_light}; */
  /* padding: 10px; */
  padding: 10px 10px 15px;
  background-repeat: no-repeat, repeat;
  background-size: cover, 100%;
  background-position: center;
  background-color: white;
  background-image: linear-gradient(
      to bottom,
      rgba(white, 1) 0%,
      rgba(white, 0.5) 80%,
      rgba(white, 0.5) 100%
    ),
    url('/img/header.jpg');

  text-align: center;
  position: relative;
  /* border-bottom: 1px solid lighten(${({ theme }) => theme.colors.grey_light}, 40%); */

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    height: 7px;
    background: lighten($grey-light, 40%);
    background-image: linear-gradient(
      -90deg,
      rgb(75, 87, 103) 0%,
      rgb(206, 49, 44) 85%,
      rgb(255, 55, 45) 95%
    );
  }
}

.nav {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-left: auto;
  }
}

.logo-image {
  float: left;
  width: auto;
  border-radius: 7px;
}

.list-heading {
  float: left;
  margin: 10px 0 0 10px;
  text-transform: uppercase;
  font-family: $font-primary;
  font-size: 3rem;
  font-weight: 700;
}

.list-big-number {
  font-size: 3.5rem;
}
