@import '../../../styles/variables.module';
@import '../../../styles/utilities.module';
@import '../../../styles/mixins.module';

.dashboard-heading {
  @extend %dashboard-heading;
}

.events-schedule {
  @include clearfix;
  line-height: 1;
  margin-bottom: $space;

  @include breakpoint($bp-lg) {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    padding: 0 0 10px;
    margin: 0;
  }

  li {
    margin: 0 0 10px;
    padding: 0;
    display: flex;

    & > a {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  & > a {
    float: right;
  }
}

.hr {
  // hr
  height: 2px;
  margin: 0 0 20px;
  border: none;
  background: $grey-lighter;
}

.nothing-scheduled {
  @extend %nothing-scheduled;
}
