@import '../../../styles/variables.module';

.roster-card {
  padding: 5px 10px;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 30px 300px 1fr 1fr 1fr;

  &:nth-child(even) {
    background: $white-dark;
  }

  :global(.member__img) {
    margin: 0 auto;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid black;
    position: relative;
    vertical-align: middle;
  }

  :global(.member__actions) {
    display: flex;
    justify-content: space-between;
  }
}
